@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap');

:root {
  --body-padding: 100px;
  --main-bg: #000;
  --second-bg: rgb(0, 0, 0, 0.8);
  --tirtiary-bg: #0a0a0a;
  --btn-bg: white;
  --btn-alt-bg: rgba(255, 255, 255, 0.2);
  --btn-text-color: black;
  --main-text-color: white;
  --second-text-color: #b3b3b3;
  --alt-text-color: #667eea;
  --alt-second-text-color: #764ba2;
  --text-size: 1.2rem;
  --text-size-sm: 1rem;
  --text-size-bg: 1.375rem;
  --heading-sm: 20px;
  --heading-size: 30px;
  --heading-bg: 64px;
  --line-height: 1.6;
  --max-header-width: 500px;
  --card-width: 400px;
  --segment-bg-light: rgba(255, 255, 255, 0.2);
  --segment-bg-mid: rgba(255, 255, 255, 0.02);
  --segment-bg-dark: rgba(255, 255, 255, 0.05);
  --image-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  --shadow-l: inset 0 1px  2px #ffffff70, /* top highlight */
                    0 4px  6px #00000030, /* dark shadow */
                    0 6px 10px #00000015; /* soft shadow */
  --shadow-d: inset 0 1px  2px #ffffff30, /* top highlight */
                    0 1px  2px #00000030, /* dark shadow */
                    0 2px  4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px  2px #ffffff50, /* top highlight */
                    0 2px  4px #00000030, /* dark shadow */
                    0 4px  8px #00000015; /* soft shadow */

  @media only screen and (max-width: 1024px) {
    --body-padding: 50px;
    --text-size: 1rem;
    --heading-bg: 30px;
    --heading-size: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', Arial, sans-serif;
  font-size: var(--text-size);
  background-color: #000;
  color: var(--main-text-color);
  box-sizing: border-box;
  min-width: 600px;
  min-height: 400px;
  margin: 0;

  * {
    color: inherit;
    box-sizing: border-box;
    scroll-margin-top: 140px;
  }

  @media only screen and (max-width: 1024px) {
    --text-size: var(--text-size-sm);
  }
}

.text-center {
  text-align: center;

  &.center-all * {
    text-align: center;
  }
}

.inline {
  display: inline-block;
}

.highlight {
  color: var(--alt-text-color);
  font-weight: 600;
  text-decoration: none;

  &.h-bg {
    padding: 5px 10px;
    background-color: rgb(from var(--alt-text-color) r g b / 10%);
    border-radius: 15px;
  }
}

.root-content-container {
  padding-block: 40px;

  .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  &.break-section {
    width: 40%;
    min-width: 200px;
    margin: auto;
    border-color: #000;
  }
  &.break-section.double {
    height: 3px;
    border-width: 1px 0;
  }
  &.short {
    width: 100px;
    margin-inline: 0 auto;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.top {
  position: relative;
  padding: 140px var(--body-padding);

  &:nth-child(odd):not(:first-child) {
    background-color: var(--main-bg);
  }
  &:nth-child(even) {
    background-color: var(--tirtiary-bg);
  }

  .container {
    display: block;
    align-items: center;
  }

  .text-wrapper {
    width: fit-content;

    &.w-full {
      width: 100%;
    }

    .title {
      font-size: var(--heading-size);
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 24px;
      letter-spacing: -2px;
    }
  }
}

.hero {
  --local-max-width: var(--max-header-width);
  &.w-full {
    --local-max-width: fit-content;
  }

  .background {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    opacity: 0.1;
    clip-path: var(--image-clip-path);

    z-index: -1;
  }

  .text-wrapper {
    .description {
      font-size: var(--text-size);
      line-height: var(--line-height);
      max-width: var(--local-max-width);
    }

    .title {
      font-size: var(--heading-bg);
      max-width: var(--local-max-width);

      @media only screen and (max-width: 1024px) {
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--main-text-color);
      }
    }

    li {
      font-size: var(--text-size);
    }

    .cta {
      display: inline-block;
      padding: 15px 45px;
      margin-top: 20px;
      background-color: #000;
      color: var(--main-text-color);
      text-decoration: none;
      border-radius: 5px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .image-wrapper {
    width: 50%;
    text-align: right;
  }
}

.experiences .segment {
  --sm-gap: 10px;
  --bg-gap: 30px;

  div.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    *:last-child {
      margin-left: auto;
    }

    .date-range {
      font-size: calc(var(--text-size) - 0.3rem);
    }
  }

  h3.header {
    margin-top: var(--bg-gap);
    margin-bottom: var(--sm-gap);
  }

  hr {
    margin-block: var(--bg-gap);
    border-color: var(--segment-bg-light);
  }

  .sub-segment {
    font-size: var(--text-size-sm);
    color: var(--second-text-color);

    .highlight {
      margin-inline: 5px;
    }
  }

  .exp-footer {
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    font-size: var(--text-size-sm);
    color: var(--second-text-color);
  }
}

.card.card-sm {
  --outer-padding: 40px;
  max-width: 300px;
  text-align: center;

  .description {
    display: flex;
    flex-direction: column;
    padding: var(--outer-padding);
    padding-top: 0;

    *:last-child {
      margin-top: auto;
    }
  }

  a {
    text-decoration: none;
  }

  .btn-sm {
    font-size: calc(var(--text-size-sm) - 0.2rem);
    padding: 4px 10px;
    margin-inline: auto;
    margin-top: auto;
  }

  .icon-container {
    padding: var(--outer-padding);
    padding-bottom: 20px;
    height: 100px;
  }
}

.portfolio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  .portfolio-item {
    flex: 0 0 46%;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin-right: 20px;

    &:hover {
      background-color: #DDD;
      cursor: pointer;
    }

    .portfolio-image {
      max-width: 100%;
    }
    .portfolio-name {
      font-size: var(--text-size);
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    .portfolio-category {
      font-weight: 600;
      color: #333;
    }
  }
}

.contact-links {
  padding: 0;
  padding-left: 15px;
  margin-top: -10px;
  list-style: square;

  .contact-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hl {
  color: var(--main-text-color);
  text-decoration: underline;
}

.mobile-only {
  display: none;

  @media only screen and (max-width: 1024px) {
    display: initial;
  }
}

.contact-wrapper {
  display: flex;
  width: fit-content;
  background-color: transparent;
  margin-left: auto;

  .pre-text {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto 0 auto auto;
    gap: 10px;

    & > div {
      display: flex;
      gap: 10px;
      margin-block: auto;
    }
  }

  .image-block-wrapper {
    display: inline-block;
    vertical-align: middle;

    .image-block-item {
      display: block;
    }
  }
  
  img {
    filter: invert(1) grayscale(100);

    @media only screen and (max-width: 1024px) {
      width: 20px;
    }
  }
}

.btn-bg {
  display: block;
  padding: 12px 26px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
  color: invert(var(--btn-text-color));
  border: 2px solid var(--btn-bg);

  &.focus,
  &:hover {
    background-color: var(--btn-bg);
    color: var(--btn-text-color);
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
  }
  
  &:not(:last-child) {
    margin-right: 20px;
  }

  &.inline {
    display: inline-block;
  }
}

.about-profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 35px;

  .profile-picture {
    img {
      width: 400px;
    }

    @media only screen and (max-width: 1024px) {
      margin-top: 0;
      width: auto;
      height: auto;
      border-radius: 10px;
    }
  }

  .description {
    max-width: var(--max-header-width);
    font-size: var(--text-size);
  }

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

a.external-link {
  color: 'black';
  text-decoration: none;
  display: inline-flex;
  gap: 5px;

  img {
    width: 25px;
  }
}

p.sub-point {
  font-size: var(--text-size);
  line-height: var(--line-height);
}

.tags-wrapper {
  display: grid;
  color: var(--main-text-color);
  grid-template-columns: max-content auto;
  gap: 5px;

  &.no-caption {
    display: block;
  }
  .caption {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 2px;
  }
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .tag-item {
      width: fit-content;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        background-color: opacity(10%);
        transform: scale(1.05);
      }
    }
    .tag-item a {
      font-size: 1.1rem;
      color: black;
      text-decoration: none;
    }
  }
}

.footer {
  text-align: center;
  font-size: 14px;
  color: var(--second-text-color);
  background-color: var(--tirtiary-bg);
  padding: 20px;

  @media only screen and (max-width: 1024px) {
    padding: 10px 20px;
  }
}
